<ScrollView>
    <GridLayout class="pageChoixStation">
        <GridLayout rows="120">
            <image row="0" src="~/app/images/Logo Skiview.png" width="30%" height="15%"></image>
        </GridLayout>
        <GridLayout>
            <Label row="0" class="entete5" text="SELECTIONNEZ VOTRE STATION"></Label>
        </GridLayout>
        <FlexboxLayout flexDirection="column" marginTop="340vh">
            <!-- >> creating-listpicker-html -->
            <ListPicker [items]="stations" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChanged($event)" [nsRouterLink]="['/utilisateur/station']" color="white" backgroundColor="black" marginTop="60%"></ListPicker>
            <!-- << creating-listpicker-html -->
        </FlexboxLayout>
    </GridLayout>   
</ScrollView>
