<ScrollView> 
    <GridLayout class="page">
        <GridLayout>
            <Label row="1" class="entete2" text="BIENVENUE !"></Label>
            <Label row="2" class="entete3" text="Créez votre compte et profitez en toute liberté des fonctionnalités de votre application Skiview" textWrap="true"></Label> -->
            <Button row="3" [nsRouterLink]="['/utilisateur/inscription']" text="CREER UN COMPTE" class="btn_creer_un_compte"></Button>
            <Label [nsRouterLink]="['/utilisateur/connexion']" row="4" class="entete4" text="Dejà membre ?" textWrap="true"></Label> 
        </GridLayout>
    </GridLayout>
</ScrollView>











































<!-- <ScrollView orientation="vertical" class="coverImage">
    <GridLayout rows="300 300 300 300">
        <Label class="SEVERE" row="0" text="BLESSURE SEVERE" textWrap="true"></Label>
        <Label class="SERIEUSE" row="1" text="BLESSURE SERIEUSE" textWrap="true"></Label>
        <ContentView class="cadre_choix" row="1"  text="" width="300px" height="300px" color="black" backgroundColor=""></ContentView>
        <Label class="MODEREE" row="2" text="BLESSURE MODEREE" textWrap="true"></Label>
        <Label class="LEGERE" row="3" text="BLESSURE LEGERE" textWrap="true"></Label>
        
    </GridLayout>
</ScrollView> -->