<Scrollview>
    <GridLayout>
        <ListView [items]="weather" class="list-group">
            <ng-template let-forecast="item">
                <GridLayout class="list-group-item" rows="50, 50, 50, 50" columns="*,*">
                    <Label color="black" class="page__content-placeholder" text="Previsionnelle pour le:" row="0" column="0"
                    colspan="2" fontWeight="Bold"></Label>
                    <Label text="{{ forecast.weekday }}" marginLeft="33%" fontSize="25em" fontWeight="Bold" row="1" col="0" 
                    colspan="2"></Label>
                    <Image [src]="forecast.iconLink"  row="2" col="0"></Image>
                    <Image [src]="forecast.iconLink"  row="2" col="1"></Image>
                    <Label text=" {{ forecast.lowTemperature }} °C" marginLeft="15%"row="3" col="0"></Label>
                    <Label text="{{ forecast.highTemperature }} °C"marginLeft="15%" row="3" col="1"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>   
</Scrollview>
<GridLayout verticalAlignment="bottom">
    <GridLayout columns="*, *, *" height="70"  backgroundColor="#FFFF00">
        <GridLayout  col="0" #tabHighlight>
        </GridLayout>
        <GridLayout col="0" backgroundColor="#000000">
            <Image #image1 src="~/app/images/infos.png" [nsRouterLink]="['/informations']" height="60"
                width="60"></Image>
        </GridLayout>
        <GridLayout col="1" backgroundColor="#000000">
            <Image #image2 src="~/app/images/locaDanger.png" [nsRouterLink]="['/danger']" height="60"
                width="60"></Image>
        </GridLayout>
        <GridLayout col="2" backgroundColor="#000000">
            <Image #image3 src="~/app/images/locaSecours.png" [nsRouterLink]="['/sos']" height="60"
                width="60"></Image>
        </GridLayout>
    </GridLayout>
</GridLayout>