<ScrollView>
    <FlexboxLayout class="search__page__content" flexDirection="row" flexWrap="wrap" justifyContent="space-around">
        <Label class="danger_button" class="iconEtatDeLaPiste" id="Etat_piste" text="Etat piste" width="140rem" height="140rem" backgroundColor="#000000" (tap)="categorieDangerEtatPistes('etatPistes')" [nsRouterLink]="['/danger/photo']"></Label>
        <Label class="danger_button" class="iconMeteo" id="Meteorologie" text="Météo" width="140rem" height="140rem" backgroundColor="#F8FD07" (tap)="categorieDangerMeteo('meteo')" [nsRouterLink]="['/danger/photo']"></Label>
        <Label class="danger_button" class="iconA" id="A" text="Avalanche" width="140rem" height="140rem" backgroundColor="#C4C4C4" (tap)="categorieDangerAvalanche('avalanche')" [nsRouterLink]="['/danger/photo']"></Label>
        <Label class="danger_button" class="iconCrevasse" id="Crevasse" text="Crevasse" width="140rem" height="140rem" backgroundColor="#FF5E69" (tap)="categorieDangerSignaletique('signaletique')" [nsRouterLink]="['/danger/photo']"></Label>
        <Label class="danger_button" class="iconObstacle" id="Obstacle" text="Obstacle" width="140rem" height="140rem" backgroundColor="#EC4621" (tap)="categorieDangerObstacle('obstacle')" [nsRouterLink]="['/danger/photo']"></Label>
        <Label class="danger_button" class="iconSignaletique" id="Signaletique" text="Signalétique" width="140rem" height="140rem" backgroundColor="#E6D005" (tap)="categorieDangerCrevasse('crevasse')" [nsRouterLink]="['/danger/photo']"></Label>
        <Label class="danger_button" class="iconAnimaux" id="Animaux" text="Animaux" width="140rem" height="140rem" backgroundColor="#05E65A" (tap)="categorieDangerAnimaux('animaux')" [nsRouterLink]="['/danger/photo']"></Label>
        <Label class="danger_button" class="iconAutres" id="Autres" text="Autres" width="140rem" height="140rem" backgroundColor="#1184FF" (tap)="categorieDangerAutres('autres')" [nsRouterLink]="['/danger/photo']"></Label>
    </FlexboxLayout>
</ScrollView>


   










