<ScrollView>
    <StackLayout>
<GridLayout verticalAlignment="top">
    <GridLayout columns="*, *, *" height="50"  backgroundColor="#000000">
        <GridLayout  col="0" #tabHighlight>
        </GridLayout>
        <GridLayout col="0" backgroundColor="#000000">
            <Label text="sauver dans galerie" color="#FFFF00" ></Label>
            <Switch [(ngModel)]="saveToGallery" color="#FFFFFF"></Switch>
        </GridLayout>
        <GridLayout col="1" backgroundColor="#000000">
            <Label text="&#xf030;" (tap)="onTakePictureTap($event)" class="nt-icon fas"></Label>
        </GridLayout>
        <GridLayout col="2" backgroundColor="#000000">
            <Label text="0/1" color="#FFFF00" fontSize="30rem"></Label>
        </GridLayout>
    </GridLayout>
</GridLayout>
<GridLayout>
    <!-- <Label text="Effacer l'image" color="#000000" ></Label>   -->
    <Image row="1" [src]="cameraImage" stretch="fill" width="300rem" height="350rem" margin="20rem"></Image>  
</GridLayout> 
</StackLayout>
</ScrollView>  
<GridLayout verticalAlignment="bottom">
    <GridLayout columns="*, *" height="50">
        <GridLayout  col="0" #tabHighlight>
        </GridLayout>
        <GridLayout col="0">
            <Label [nsRouterLink]="['/danger']" text="< PRECEDENT" id="slider" color="#000000"  marginBottom="20" horizontalAlignment="center"></Label>
        </GridLayout>
        <GridLayout col="1">
            <Label [nsRouterLink]="['/danger/photo2']" text="SUIVANT >" id="slider" color="#000000"  marginBottom="20" horizontalAlignment="center"></Label>       
        </GridLayout>
    </GridLayout>
</GridLayout>





