<ScrollView>
    <StackLayout class="form">
        <Label text="CONNEXION" class="motDePasse"></Label>
        <image
            row="0"
            src="~/app/images/Logo Skiview.png"
            width="40%"
            height="20%"
        ></image>
        <TextField
            class="formSanteCss"
            hint="Entrez votre mot de passe"
            color="black"
            background="lightgrey"
            width="90%"
            height="50rem"
            borderRadius="10%"
            paddingLeft="8%"
            fontSize="20rem"
        ></TextField>
        <Button
            [nsRouterLink]="['/utilisateur/choixstation']"
            text="ME CONNECTER"
            width="90%"
            height="50rem"
            backgroundColor="black"
            ;
            color="yellow"
        ></Button>
    </StackLayout>
</ScrollView>
